/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

#game {
  text-align: center;
  font-size: 13pt;
  /* background-color: #060ce9; */
  color: white;
  border-collapse: collapse;
}

#game th, #game td, #game tr{
  background-color: #060ce9;
  border: solid 2px white;
  padding: 5px;
}