#game {
  text-align: center;
  font-size: 13pt;
  color: white;
  border-collapse: collapse;
}

#game th, #game td, #game tr{
  background-color: #060ce9;
  border: solid 2px white;
  padding: 5px;
}